.dashboard {
	padding: 50px 0;
	h1 {
		padding-bottom: 10px;
	}
	.link_dash {
		height: 40px;
		border-top:1px solid $abu2;
		border-bottom:1px solid $abu2;
		line-height: 40px;
		font-size: 13px;
		margin: 15px 0;
		a {
			font-weight: bold;
			color: #000;
			margin-right: 5px;
			display: inline-block;
			padding: 0 15px;
			&.selected,
			&:hover {
				background:$green;
				color: #fff;
			}
		}
	}
	h3 {
		margin-top: 40px;
		border-bottom:1px solid $abu2;
		padding-bottom: 10px;
	}
}
.box_dash {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0);
	border-bottom:1px solid $abu2;
	padding-bottom:15px;
	.text {
		padding:0;
		.group-input {
			padding: 0 !important;
			.ico {
				width: 45px;
				height: 45px;
			}
			span {
				font-size: 11px !important;
			}
		}
		.desti {
			font-weight:bold;
			font-size: 18px;
			padding-bottom:5px;
		}
		.info_time {
			width: 300px;
			padding:0 !important;
			line-height: 120%;
			
			.input-date {
				font-size: 14px!important;
			}
		}
		
		.info_total {
			padding:0;
			width: 170px;
			strong {
				font-size: 18px;
			}
		}
		.info_code,
		.status {
			padding-left: 0;
			padding:0 !important;
			width: 100px;
			.paid {
				background: green;
				color: #fff;
				border-radius:100px;
				padding: 5px 10px;
				font-size: 14px;
				text-align: center;
				&.unpaid {
					background: red;
				}
			}
		}
		.status {
			width: 80px;
			text-align: center;
		}
		.action {
			float: right;
			a {
				font-size: 12px;
				padding: 0 15px;
				height: 30px;
				margin-top: 20px;
				line-height: 30px;
			}
		}
		.info_wis {
			border:0 !important;
		}
	}
	
}