@font-face { 
	font-family: foreverff; 
	src: url('../fonts/TFForever-Regular.woff'); 
	font-weight: normal;
}
@font-face { 
	font-family: foreverff; 
	src: url('../fonts/TFForever-Italic.woff'); 
	font-weight: normal;
	font-style:italic;
}
@font-face { 
	font-family: foreverff; 
	src: url('../fonts/TFForever-Medium.woff'); 
	font-weight: bold;
} 
@font-face { 
	font-family: circularff; 
	src: url('../fonts/circular.woff'); 
	font-weight: normal;
} 
@font-face { 
	font-family: circularff; 
	src: url('../fonts/circular_bold.woff'); 
	font-weight: bold;
} 


