@media screen and (max-width: 550px) {
    body {
        padding-top: 60px;
    }
    .container {
        width: 100%;
        .list1 {
            width: calc(100% - 30px);
            .text {
                height: 140px;
                .clearfix {
                    margin-top: 5px;
                }
            }

            .price {
                display: block;
                margin-bottom: 10px;
                strong {
                    font-size: 18px;
                }
            }
            .more {
                display: inline-block;
            }
            &:hover {
                -ms-transform: cale(1); /* IE 9 */
                -webkit-transform: scale(1); /* Chrome, Safari, Opera */
                transform: scale(1);
            }
        }
    }
    #cover {
        width: 100%;
        margin-top:0;
        .ratio16_9 {
            &:before {
                padding-top:100%;
            }
        }
        .text {
            width: 90%;
            left: 5%;
            top: calc(50% - 100px);
            height: 200px;
            img {
                height: 100%;
            }
        }
        .more {
            bottom: -50px;
            color: #000;
            display: none;
        }
        .nav_cover {
            width: 20px;
        }
        .bni_logo {
            bottom: -35px;
            left: 20px;
            height: 20px;
        }
        .bni_card {
            bottom: -40px;
            right: 20px;
            height: 30px;
        }
    }
    
    header {
        padding: 10px 15px;
         .user_login {
            position: absolute;
            top: -10px;
            right: 10px;
            margin-top: 0;
            font-size: 11px;
        }
        .logo {
            height: 20px;
            margin-top: 20px;
        }
        .logo_ayo {
            display: block;
            left:calc(50% - 55px);
            width: 110px;
        }
        &.smaller {
            .logo {
                animation-name: fadeout;
                animation-duration: 0.5s;
            }
            .logo_ayo {
                display: block;
                left: 10px;
                width: 110px;
            }
        }
        .language {
            position: absolute;
            width: 70px;
            right: 10px;
            top: 10px;
            height: 20px;
            line-height: 20px;
            margin-left: 0;
            font-size: 12px;
            .arrow {
                height: 5px;
            }
            span {
                padding: 0 5px;
            }
            img {
                height: 20px;
            }
            .box_bahasa {
                top: 30px;
            }
        }
    }
    #nav {
        display: none;
    }
    #intro {
        margin-bottom: 0;
        padding:10px;
        padding-top: 30px;
        width: calc(100% - 20px);
    }
    .title {
        font-size: 22px;
        line-height: 130%;
    }
    .detail_right,
    .detail_left {
        width: calc(100% - 20px);
        padding:10px;
    }
    #footer {
        padding: 10px 0;
        .foot_sosmed,
        .fl {
            width: 100%;
            text-align:center;
            float: none;
            line-height: normal;
            height: auto;
        }
        .fl {
            text-align: center;
            padding-top: 10px;
            a {
                display: block;
                text-align: center;
                 img {
                    padding-bottom:15px;
                    display: inline-block;
                }
            }
           
        }
        .foot_sosmed {
            padding-bottom: 20px;
            span {
                display: block;
                text-align: center;
                float: none;
                
                padding-bottom: 10px;
            }
            a {
                display: inline-block;
                float: none;
            }
        }
    }
    .box_wisatawan {
        width: calc(100% - 20px);

    }
    .nav_order {
        padding: 15px 0;
        line-height: normal;
        height: auto;
        text-align: center;
        .page {
            float: none;
        }
        .order_pos {
            font-size: 12px;
            float: none;
            margin-top: 15px;
        }
    }
    .group-input3,
    .group-input2 {
        width: 100%;
    }
    .group-input2.input_security input {
        margin-top: 5px;
    }
    .container_pop {
        width: calc(90% - 60px);
        left: 5%;
    }
    .container_pop2 {
        width: 90%;
         top: 20px !important;
    }
    .container_pop .close_box_in {
        right: 0;

    }
    .dashboard {
        padding: 30px 10px;
        .link_dash {
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            a {
                padding:0 5px;
            }
        }
        .box_dash {
            .text {
                position: relative;
            }
        }
        .box_dash .text .info_time,
        .info_total,
        .info_wis {
            width: 100% !important;
            border:0 !important;
            padding: 10px 0 !important;
        }
        .status {
            width: 80px !important;
            position: absolute;
            top: 20px;
            right: 0;
            font-size: 11px !important;
            .paid {
                padding: 3px 5px  !important;
                font-size: 12px !important;
            }
        }
        .action {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .close_box_out {
        margin: 5px;
    }
    .box_ {
        .text {
            .title {
                height: auto;
                text-align:center;
                .code {
                    float: none;
                    display: block;
                }
            }
            .group-input {
                margin-bottom: 0;
                .ico {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .info_box {
            .info_time,
            .info_wis,
            .info_total {
                width: 100%;
            }
        }
        .info_time .input-date {
            font-size: 14px !important;
        }
    }
    .box_2 {
        .info_box {
            padding-bottom: 10px;
        }
        .info_wis,
        .info_total {
            border:0 !important;
            padding:0 !important;
        }
    }
    .infowisatawan .iw .isi .jdl,
    .infowisatawan .iw .isi .isi2 {
        width: 100%;
    }
    .infowisatawan .iw .isi .jdl {
        font-size: 12px;
    }
     .infowisatawan .iw .isi .isi2 {
        margin-bottom: 5px;
    }
    .banner_bottom {
        width: calc(100% - 20px);
        padding:10px;
    }
    .box_ .btn_submit {
        height: auto;
        line-height: auto;
    }
}




