body {
	font-family: $font_reg, helvetica, arial;
	background: white;
	color: #000;
	font-size: 15px;
	line-height: 140%;
	padding-top:80px;
}
input, select {
	font-family: $font_reg, helvetica, arial;
}
.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.container2 {
	width:800px;
}
#cover {
	position: relative;
	margin-top:-70px;
	.bg {
		width: 100%;
		display: block;
	}
	.star {
		position: absolute;
		bottom: 30px;
		left: 30px;
		height: 70px;
		z-index: 3;
		display: none;
	}
	.text {
		position: absolute;
		width: 750px;
		left:calc(50% - 375px);
		top: calc(45% - 275px);
		height: 400px;
		text-align: center;
		color: #fff;
		z-index: 3;
		img {
			height: 100%;
			margin-bottom: 30px;
			display: none;
		}
		h1 {
			margin-bottom: 20px;
			line-height: 130%;
		}
	}
	.more {
		position: absolute;
		bottom: 80px;
		width: 150px;
		left:calc(50% - 75px);
		text-align: center;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		z-index: 3;
		
		img {
			height: 15px;
			margin-top: 10px;
			-webkit-transition: all 0.5s ease 0s;
			-moz-transition: all 0.5s ease 0s;
			-o-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
		}
		&:hover {
			color: $blue2;
			img {
				transform:translateY(10px);
			}
		}
	}
	.nav_cover {
		position: absolute;
		top: 50%;
		width: 25px;
		opacity: 0.5;
		z-index: 3;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		&.nav_left {
			left: 20px;
		}
		&.nav_right {
			right: 20px;
		}
	}
	.bni_logo {
		position: absolute;
		bottom: -60px;
		left: 50px;
		z-index: 3;
		height: 40px;
	}
	.bni_card {
		position: absolute;
		bottom: -70px;
		right: 50px;
		z-index: 3;
		height: 60px;
	}
}
.section {
	padding: 30px 0;
}
.title {
	font-size: 32px;
	line-height: 120%;
	width: 80%;
	color:$green;
	margin: 15px 0;
	margin-bottom: 30px;
	margin-left: 10%;
}
#intro {
	text-align:center;
	margin-bottom: 50px;
	padding-top:80px;
}
.list1 {
	position: relative;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	display:block;
	overflow:hidden;
	float: left;
	width:calc(33.3% - 30px);
	margin:15px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	background:#fff;
	.bgfloat {
		opacity: 0;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
	.ratio_box {
		&:before{
			padding-top: 56.25%;
		}
		&.box_img {
			overflow:hidden;
		}
		.img_con {
		}
	}
	.text {
		height: 60px;
		padding: 15px;
		color: #000;
		z-index: 3;
		font-size: 16px;
		h2 {
			font-size: 22px;
			margin-bottom: 5px;
		}
		.clearfix {
			margin-top: 50px;
		}
		.place {
			font-size: 14px;
			color: $green;
		}
		.des {
			display: none;
		}
		.more {
			display: none;
			background:$green;
			color: #fff;
			height: 30px;
			line-height: 30px;
			padding: 0 30px;
			border-radius: 100px;
			font-weight: bold;
			left: 0;
			font-size: 13px;
			-webkit-transition: all 0.75s ease 0s;
			-moz-transition: all 0.75s ease 0s;
			-o-transition: all 0.75s ease 0s;
			transition: all 0.75s ease 0s;
			&:hover {
				cursor: pointer;
				background:$blue2;
			}
		}
		.price {
			display: none;
			font-size: 13px;
			margin-bottom: 30px;
			strong {
				display: block;
				padding-top: 5px;
				font-size: 24px;
			}
		}
	}
	@media screen and (min-width: 560px) {
		&:hover {
			-ms-transform: cale(1.2); /* IE 9 */
		    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
		    transform: scale(1.2);
		    z-index: 2;
		    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.4);
			box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.4);
			background:#000;
			.ratio_box {
				&:before{
					padding-top: 85%;
				}
				.img_con {
				    animation-name: fadein;
	    			animation-duration: 0.5s;
				}
			}
			.text {
				position: absolute;
				padding: 20px;
				top: 20px;
				left:0;
				color: #fff;
				height: auto;
				animation-name: slideUp_;
	    		animation-duration: 0.5s;
				.place {
					color: #fff;
				}
				.price {
					display: block;
				}
				.more {
					display: inline-block;
				}
				.clearfix {
					margin-top: 30px;
				}
			}
			.bgfloat {
				opacity: 1;
			}

		}
		&:nth-child(3n):hover {
			.ratio_box {
				&:before{
					padding-top: 86%;
				}
			}
		}
	}
}
#slide_cover {
	.box_img {
		float: left;
	}
}
.banner_bottom {
	text-align:center;
	width: 960px;
	padding: 20px;
	img {
		width: 100%;
	}
}



