<body style="margin:0; padding:0;">
<div style="margin: 0; font-family: arial;font-size: 13px;background: #fff; color:#555555; border:1px solid #ccc;">
	<div style="color:#b8b8b8; font-size:26px; text-align:center; background:#F0F0F0; padding:15px;">
		<img src="logo.png" height="50">
	</div>
	<div style="margin: 0 auto;text-align: center;background: #ffffff;padding: 15px;">
		<div style="color:#3b3b3b;font-size: 18px;font-weight: bold; margin-bottom: 10px;">Judul</div>
		<div style="line-height:130%; color:#6f6f6f;">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis iusto modi quisquam facere doloribus dolorum aspernatur perspiciatis recusandae, veniam libero delectus esse, nemo, et eos iste. Ratione facilis, nesciunt recusandae.
			<br><br>
			<a href="#" style="background:red; color: #fff; font-weight: bold; font-size: 15px; border-radius: 100px; padding: 10px 25px; display: inline-block; text-decoration: none; ">Aktivasi Sekarang</a>
		</div>
	</div>
	<div style="text-align:center; font-size: 11px; padding: 10px;">Copyright © 2017 Garuda Indonesia. All rights reserved</div>
	
</div>
</body>
